<div id="criteria-filter-container">
    <div class="criteria-container">
        <h4>Travel Time</h4>
        <div class="indented">
            <input type="range" value="2" min="1" max="5">
        </div>
    </div>
    <div class="criteria-container">
        <h4>Transportation</h4>
        <div class="indented">
            <form action="">
                <ul class="no-bullets">
                    <li><input type="radio"> Road</li>
                    <li><input type="radio"> Train</li>
                    <li><input type="radio"> Plane</li>
                </ul>
            </form>
        </div>
    </div>

    <div class="criteria-container">
        <h4>Budget</h4>
        <div class="indented">
            <input type="range" value="2" min="1" max="5">
        </div>
    </div>

</div>