<div class="search-item">
    <img class="search-item-thumbnail" src="images/thumbnail.png"/>
    <h3>Boston</h3>
    <p>
        Lorem ipsum dolor sit amet, per brute detraxit deterruisset an, nam te quaestio perpetua, in percipit
        definitiones pri. Sea liber scaevola an, elitr dicant putent vis ut, sint graeco mel ut.
    </p>
    <div class="rating">
        <img src="images/star.png"/>
        <img src="images/star.png"/>
        <img src="images/star.png"/>
        <img src="images/star.png"/>
    </div>
    <img src="images/tick.png" class="add-to-cart"/>

</div>